body {
  overflow-x: hidden;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header{
	background-image: url('../images/blue-surface-with-creases_1160-191.jpg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	text-align: center;
	color: white;
}
header .intro-text{
	position: relative;
	padding-top: 20%;
	padding-bottom: 20%;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 25px;
	margin-bottom: 100px;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 50px;
	color: white;
	text-decoration: none;
}
header .intro-heading{
	text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
  margin-bottom: 20px;
}
h1{
	font-family:"Arial";
}

/*Generic NavBar*/ 
.navbar-custom {
  background-color: #2D2D2D;
  border-color: transparent;
}
.navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}
.navbar-custom .navbar-brand {
  color: white;
  font-family: "Amatic SC", "Helvetica Neue", Helvetica, Arial, cursive;
}
.navbar-brand: visited{
	color: white;
}
.navbar-custom .navbar-toggle {
  background-color: transparent;
  border-color: #42aaf4;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #42aaf4;
}
.navbar-custom .nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}
.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #fed136;
}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: white;
  background-color: #fec503;
}


/*Large Screen NavBar*/
@media (min-width: 768px) {
  .navbar-custom {
    background-image: url('https://image.freepik.com/free-photo/blue-surface-with-creases_1160-191.jpg');
    background-size: cover;
	padding: 25px;
    
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-custom.affix {
    background-color: #42aaf4;
    padding: 10px 0;
  }
  .navbar-custom .navbar-brand:hover, 
  .navbar-custom .navbar-brand:focus{
	  color: #000;
  }
  .navbar-custom .navbar-brand {
    font-size: 3em;
	color: white;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 3px;
  }
  
  .navbar-custom.affix .navbar-brand {
    font-size: 2.5em;
  }
  
}

/*About me button*/
.btn-xl {
  color: white;
  /*background-color: #000000;*/
  border-color: #fff;
  border-width: 2.5px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 2px;
  font-size: 14px;
  padding: 5px 15px;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: black;
  background-color: #42aaf4;
}

/*Generic Anchors*/
a{
	color: white;
}
a:visited{
	color: white;
}
a:hover,
a:focus{
	color: #000;
}

/*Social Buttons*/
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #42aaf4;
}
