body {
  overflow-x: hidden;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header{
	background-image: url('../images/blue-surface-with-creases_1160-191.jpg');
	background-attachment: scroll;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	text-align: center;
	color: white;
    width:100%;
}
header .intro-text{
	position: relative;
	padding-top: 20%;
	padding-bottom: 20%;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	margin-bottom: 100px;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 50px;
	color: white;
	text-decoration: none;
}
header .intro-heading{
	text-transform: uppercase;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 20px;
}

header .intro-text a{
	font-size: 19px;
}

/*Large Screen Intro-Text*/
@media (min-width: 768px) {
.container{
    width: 100%;
}
header .intro-text{
	font-size: 30px;
	margin-bottom: 100px;
}	

header .intro-text a{
	font-size: 27px;
}
}
h1{
	font-family:"Arial";
}

/*Generic NavBar*/ 
.navbar-custom {
  background-color: #2D2D2D;
  border-color: transparent;
}
.navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}
.navbar-custom .navbar-brand {
  color: white;
  font-family: "Amatic SC", "Helvetica Neue", Helvetica, Arial, cursive;
}
.navbar-brand: visited{
	color: white;
}
.navbar-custom .navbar-toggle {
  background-color: transparent;
  border-color: #42aaf4;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #42aaf4;
}
.navbar-custom .nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}
.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #42aaf4;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: white;
  background-color: #42aaf4;
}


/*Large Screen NavBar*/
@media (min-width: 768px) {
  .navbar-custom {
    background-image: url('https://image.freepik.com/free-photo/blue-surface-with-creases_1160-191.jpg');
    background-size: cover;
	padding: 25px;
    
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-custom.affix {
    background-color: #42aaf4;
    padding: 10px 0;
  }
  .navbar-custom .navbar-brand:hover, 
  .navbar-custom .navbar-brand:focus{
	  color: #000;
  }
  .navbar-custom .navbar-brand {
    font-size: 3em;
	color: white;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 3px;
  }
  
  .navbar-custom.affix .navbar-brand {
    font-size: 2.5em;
  }
  
}

/*About me button*/
.btn-xl {
  color: white;
  /*background-color: #000000;*/
  border-color: #fff;
  border-width: 2.5px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 2px;
  font-size: 14px;
  padding: 5px 15px;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: black;
  background-color: #42aaf4;
}

/*Generic Anchors*/
a{
	color: white;
}
a:visited{
	color: white;
}
a:hover,
a:focus{
	color: #000;
	text-decoration: none;
}

/*Social Buttons*/
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a{
  display: block;
  background-color: #222222;
  width: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 20px;
  color: white;
  outline: none;
  -moz-border-radius: 30px; /* or 50% */
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #42aaf4;
}
span.copyright{
	line-height: 40px;
	text-align: center;
	font-size: 16px;
}

.section-heading{
    padding: 20px;
    text-align: center;
}
.timeline{
    list-style: none;
    padding: 0;
    position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #f1f1f1;
  left: 40px;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 50px;
  position: relative;
  min-height: 50px;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  width: 100%;
  float: right;
  padding: 0 20px 0 100px;
  position: relative;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li .timeline-image {
  left: 0;
  margin-left: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100;
  background-color: #42aae0;
  color: white;
  border: 7px solid #f1f1f1;
  text-align: center;
}
.timeline > li .timeline-image h4 {
  font-size: 12px;
  margin-top: 22px;
  line-height: 14px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  text-align: left;
  padding: 0 20px 0 100px;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-heading h4.subheading {
  text-transform: none;
}
.timeline .timeline-body > p,
.timeline .timeline-body > ul {
  margin-bottom: 0;
}

@media (min-width: 400px){
   .timeline:before {
    left: -17%;
  }
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px;
  }
  .timeline > li .timeline-panel {
    width: 170%;
    float: left;
    padding: 0 10px 20px 30px;
    text-align: left;
  }
  .timeline > li .timeline-image {
    width: 100px;
    height: 100px;
    left: -5%;
    margin-left: -70px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    margin-top: 30px;
    line-height: 18px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: left;
    text-align: left;
    padding: 0 10px 20px 30px;
  } 
}
@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px;
  }
  .timeline > li .timeline-panel {
    width: 41%;
    float: left;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    margin-top: 16px;
    line-height: 18px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    text-align: left;
    padding: 0 30px 20px 20px;
  }
}
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 7px 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    margin-top: 55px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 7px 20px 20px;
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 180px;
  }
  .timeline > li .timeline-panel {
    padding: 10px 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 180px;
    height: 180px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 70px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 10px 100px 20px 20px;
  }
}

section{
    padding: 100px;
}

/*Footer*/
footer{
    margin-top: 20px;
	text-align: center;
}
